[submodule "markov_abstr/dmcontrol"]
	path = dmcontrol
	url = https://github.com/camall3n/rad.git
[submodule "markov_abstr/visgrid/visgrid"]
	path = visgrid/visgrid
	url = https://github.com/camall3n/visgrid.git
