**.idea/
**.ipynb_checkpoints/
.vscode/
data/
env/
venv/
images/
cluster/logs/
cluster/scripts/
logs/
models/
scripts/unversioned/*
videos/
results/
scores/
**__pycache__
**.pyc
.onager
dmcontrol/experiments/
